.room-modal__image-container {
    position: relative;
    margin-bottom: 1rem; // Add spacing below the slider
  }
  
  .room-modal__image-slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .room-modal__image {
    flex-shrink: 0;
    width: 100%;
    height: 381px;
    background-size: cover;
    background-position: center;
  }
  
  .room-modal__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  
  .room-modal__nav--prev {
    left: 0.625rem;
  }
  
  .room-modal__nav--next {
    right: 0.625rem;
  }