.footer {
    background-color: #10072C;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &__title {
      font-weight: bold;
      font-size: 1.5rem;
  
      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }
  
    &__text {
      text-align: right;
  
      &--body2 {
        font-size: 0.875rem;
      }
    }
  }