.billing__container{
    padding-bottom: 2rem;
    .billing__inputs{
        margin: 1rem auto;
        .input{
            width: 21.625rem;
            height:4.3125rem;
            margin: 1.5rem 0;
        }
        .full__name,.address,.city-details{
            display: flex;
            justify-content: space-between;
            width: 100% !important;
        }
        .pin{
            width: 21.875rem;
            display: flex;
            justify-content: space-around;
        }
        
    }
    .disable__button{
        .edit-link{
            margin-right: 1rem;
            width: 6.8125rem;
            height: 1.25rem;
            color: #26266D;
            font-family: "Lato",sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0px;
            text-align: center;
        }
        display: flex;
        justify-content: right;
        button{
            padding:0;
            background-color: #26266D;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 10.9375rem;
            height: 2.75rem;
            p{
                margin: 0;
                width: 9.3125rem;
                height: 1.25rem;
                color: white;
                font-family: "Lato",sans-serif;
                font-weight: 700;
                font-size: 14px;
                line-height: 140%;
                vertical-align: middle;
                text-transform: uppercase;
            }

        }
    }
}