.room-modal__details {
  margin-left: 5%;
    display: flex;
    flex-direction: row;
    gap: 2rem; // Add spacing between left and right columns
    padding: 1rem;
    overflow-y: auto;
  }
  
  .room-modal__left-column {
    // Adjust width for left column
    width: 38.625rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .room-modal__right-column {
    flex: 1; // Adjust width for right column
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .room-modal__specs-and-description {
    margin-bottom: 0.625rem;
  }
  
  .room-modal__specs {
    margin-bottom: 1.25rem;
    color: #5d5d5d;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
    vertical-align: middle;
  }
  
  .room-modal__spec {
    height: 0.9375rem;
    font-size: 0.875rem;
    margin-right: 0.3125rem;
    display: flex;
    gap: 0.4375rem;
  }
  
  .room-modal__spec p {
    margin-top: -0.125rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    vertical-align: middle;
  }
  
  .room-modal__spec-size {
    height: 1.125rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0;
    vertical-align: middle;
  }
  
  .room-modal__description {
    margin-bottom: 1.25rem;
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0;
   

  }
  
  .room-modal__promo {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  
    &-text {
      font-size: 0.875rem;
      color: #666;
      margin-bottom: 0.625rem;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0rem;
    }
  
    &-input-container {
      display: flex;
      gap: 0.625rem;
    }
  
    &-input {
      border: 0.0625rem solid #ddd;
      border-radius: 0.1875rem 0 0 0.1875rem;
      height: 2.9169rem;
      width: 12.4794rem;
    }
  
    &-button {
      background-color: #26266d;
      color: white;
      border: none;
      border-radius: 0.3125rem;
      font-size: 0.75rem;
      font-weight: 600;
      width: 4.0625rem;
      height: 3rem;
      cursor: pointer;
  
      &:hover {
        background-color: #282c87;
      }
    }
  }
  
  .room-modal__amenity-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3125rem;
    margin-top: 1.25rem;
  }
  
  .room-modal__rate-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.9375rem;
    color: #000;
    line-height: 130%;
    letter-spacing: 0;
    vertical-align: middle;
  }
  
  /* Responsive Design */
  @media (max-width: 900px) {
    .room-modal__details {
      flex-direction: column; // Stack columns vertically
    }
  
    .room-modal__right-column {
      order: -1; // Move the right column above the left column
    }
  
    .room-modal__left-column {
      order: 0;
    }
  }