.traveler__container {
  border-radius: 8px;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0;
  margin-bottom: 1rem;

  &.open {
    max-height: 500px; // Adjust this based on content
    opacity: 1;
    visibility: visible;
  }

  &.closed {
    margin-bottom: 1rem;
    min-height: 2.6875rem;
  }

  .traveler__inputs {
    margin: 1rem auto;

    .input {
      width: 21.625rem;
      height: 4.3125rem;
      margin: 1.5rem 0;
    }

    .full__name {
      display: flex;
      justify-content: space-between;
      width: 100% !important;
    }
  }

  .disable__button {
    display: flex;
    justify-content: right;
    align-items: center;

    button {
      padding: 0;
      background-color: #26266D;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 10.9375rem;
      height: 2.75rem;
      cursor: pointer;

      p {
        margin: 0;
        color: white;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
      }
    }
  }
}
