@use "../../styles/variables" as *;

.page {
  width: 100%;
  font-family: $font-primary;
}

.container {
  padding: 2rem 5.3125rem;
}

.content {
  display: flex;
  gap: 20px;
}

@media (max-width: 960px) {
  .content {
    flex-direction: column;
  }
}