html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #f8f9fa;
  top: 0 !important;
}

#root {
  height: 100%;
}

// App Container
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

// Main Content
.main-content {
  height: 679px; 
  min-height: 679px; 
  margin-bottom: 170px;
}

// Footer
.footer {
  background-color: #ffffff; 
  padding: 20px 0; 
  text-align: center;
  border-top: 1px solid #ccc;
}
