
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  
}

#root {
  height: 100%;
}

// App Container
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

// Main Content
.main-content {
  height: 679px; 
  min-height: 679px; 
  margin-bottom: 170px;
  

  /* Background Image */
  background-image: url('image.png'); 
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

// Footer
.footer {
  background-color: #ffffff; 
  padding: 20px 0; 
  text-align: center;
  border-top: 1px solid #ccc;
}
