
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.VIpgJd-ZVi9od-ORHb-OEVmcd , .VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc{
    visibility: hidden !important;
    height: 0 !important;
}
.skiptranslate{
    display: none !important;
    height: 0 !important;
}
.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q{
    box-shadow: none !important;
    background-color: white !important;
}