// General Navbar styles
.navbar { 
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

// Logo and Title styles
.logo {
  
  display:flex;
  align-items: center;
  gap:0.5rem;
  color: #10072c;
  .title{
   font-size: 1.5rem;
   font-weight: bold;
  }
  .subtitle {
    font-weight: medium;
    font-size: 1.3rem;
  }
}

// Desktop menu styles
.desktopMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  // border : red solid 1px;
  width:40%;
  gap: 16px;
}
.language{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.menuItem {
  font-weight: bold;
  color: #10072c;
}

.languageIcon {
  color: #10072c;
}

.select {
  border: none;
  background: none;
  box-shadow: none;
  font-weight: bold;
  color: #271a4d;
  min-width: 50px;
  padding: 0;
  &:focus {
    outline: none;
  }
}

// Button styles
.loginButton {
  background-color:#2a1e4f !important;   
  color: white;
  &:hover {
    background-color: #8b7cf3;
  }
}

// Mobile menu styles
.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
}

.menuIcon {
  color: #10072c;
}